/* Na aula anterior, no exercício Faça como eu fiz: Exercitando o grid foi desenvolvido uma página com vários elementos de tamanhos e cores diferentes, posicionados em diferentes partes da página utilizando as propriedades de grid. Porém, os espaços entre elementos foram criados com a propriedade margin. Nós já discutimos as grandes vantagens de trabalhar com grid.

Substitua essas propriedades margin por novas propriedades do grid. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    background-color: #444444;
    /* padding: 8px; */
    padding: 16px;
    width: 100vw;
    height: 100vh;
    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
    
}

.cabecalho {
    background-color: #cc2a2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    /* margin: 8px; */
    grid-column: span 4;
 
}

.lateral {
    background-color: #45cc2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    /* margin: 8px; */
    grid-column: 4;
    grid-row: 1/span 3;
    
}

.meio {
    background-color: #2aa6cc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    /* margin: 8px; */
    grid-column: span 2;
    grid-row: 1/ span 3;
}

.direita-cima {
    background-color: #352acc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    /* margin: 8px; */
    grid-column: 1;
    grid-row: 3;
}

.direita-baixo {
    background-color: #cc2a96;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    /* margin: 8px; */
    grid-row: 1 / span 2;
    grid-column: 1;
}